{% extends 'emp_base.html' %}

{% block main %}
<div class="card shadow m-2">
    <div class="card-body">
        <a href="{% url 'my_education' %}" class="btn btn-primary float-right btn-sm">My education Details</a>
        <h5 class="p-2 text=danger" style="border-bottom:2px solid orange">My EducationDetails</h5>
        <div class="container-fluid">
             <form method="POST" >
                {% csrf_token %}
                 <table class="table table-bordered">
                     <tr>
                         <th>Post Graduation Cource Name</th>
                          <td><input type="text" name="courcepg"  class="form-control" value="{{education.courcepg}}"></td>
                     </tr>
                     <tr>
                         <th>Post graduate school/college</th>
                         <td><input type="text" name="schoolclgpg"  class="form-control" value="{{education.schoolclgpg}}"></td>
                     </tr>
                     <tr>
                         <th>Year Of Passing PG</th>
                        <td><input type="text" name="yearofpassingpg"  class="form-control" value="{{education.yearofpassingpg}}"></td>
                     </tr>
                     <tr>
                         <th>percent In pG</th>
                         <td><input type="text" name="percentagepg "  class="form-control" value="{{education.percentagepg}}"></td>
                     </tr>
<!--                     </tr>-->
                     <tr>
                         <th>Graduation Cource Name</th>
                        <td><input type="text" name="courcegra"  class="form-control" value="{{education.courcegra}}"></td>
                     </tr>
                     <tr>
                         <th>Graduate school/college</th>
                          <td><input type="text" name="schoolclggra"  class="form-control" value="{{education.schoolclggra}}"></td>
                     </tr>
                     <tr>
                         <th>Year Of Passing Graduation</th>
                         <td><input type="text" name="yearofpassinggra"  class="form-control" value="{{education.yearofpassinggra}}"></td>
                     </tr>
                     <tr>
                         <th>percent In Graduation</th>
                          <td><input type="text" name="percentagegra"  class="form-control" value="{{education.percentagegra}}"></td>
                     </tr>
<!--                     </tr>-->
                     <tr>
                         <th>SSC Cource Name</th>
                         <td><input type="text" name="courcessc"  class="form-control" value="{{education.courcessc}}"></td>
                     </tr>
                     <tr>
                         <th>SSC school/college</th>
                          <td><input type="text" name=schoolclgssc"  class="form-control" value="{{education.schoolclgssc}}"></td>
                     </tr>
                     <tr>
                         <th>Year Of Passing SSC</th>
                         <td><input type="text" name="yearofpassingssc"  class="form-control" value="{{education.yearofpassingssc}}"></td>
                     </tr>
                     <tr>
                         <th>percent In SSC</th>
                          <td><input type="text" name="percentagessc"  class="form-control" value="{{education.percentagessc}}"></td>
                     </tr>
                     </tr>
<!--                     </tr>-->
                     <tr>
                         <th>HSC Cource Name</th>
                        <td><input type="text" name="courcehsc"  class="form-control" value="{{education.courcehsc}}"></td>
                     </tr>
                     <tr>
                         <th>HSC school/college</th>
                        <td><input type="text" name="schoolclghsc"  class="form-control" value="{{education.schoolclghsc}}"></td>
                     </tr>
                     <tr>
                         <th>Year Of Passing HSC</th>
                        <td><input type="text" name="yearofpassinghsc"  class="form-control" value="{{education.yearofpassinghsc}}"></td>
                     </tr>
                     <tr>
                         <th>percent In HSC</th>
                         <td><input type="text" name="percentagehsc"  class="form-control" value="{{education.percentagehsc}}"></td>
                     </tr>
<!--                     </tr>-->
                 </table>
                 <center><input type="submit" value="submit"  class="btn btn-primary  px-3"></center>
             </form>
        </div>
    </div>
</div>

{% endblock %}